<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="stylesheet" href="../assets/css/style.css"/>
</head>
<body class="layui-tank">
<form class="layui-form" action="/AddEnvConn" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="layui-card">
        <div class="layui-form-item">
            <label class="layui-form-label">环境参数</label>
            <div class="layui-input-block">
                <input type="text" name="EnvPar" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Kafka内网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="KafkaInt"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Kafka外网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="KafkaExt"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Hbase内网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="HbaseInt"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Hbase外网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="HbaseExt"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Hbase用户名</label>
            <div class="layui-input-block">
                <input type="text" name="HbaseUser" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Hbase密码</label>
            <div class="layui-input-block">
                <input type="text" name="HbasePass" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Mysql内网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="MysqlInt"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Mysql外网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="MysqlExt"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Mysql用户名</label>
            <div class="layui-input-block">
                <input type="text" name="MysqlUser" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Mysql密码</label>
            <div class="layui-input-block">
                <input type="text" name="MysqlPass" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Redis内网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="RedisInt"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Redis外网连接地址</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入" class="layui-textarea" name="RedisExt"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Redis密码</label>
            <div class="layui-input-block">
                <input type="text" name="RedisPass" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
    </div>
    <div class="tkbtnfxd">
        <input type="submit" class="layui-btn  layui-btn-normal float-right" value="确定">
        <input type="button" class="layui-btn layui-btn-primary float-right" value="取消" onclick="shut()">
    </div>
    {% if messages %}
    <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}


    </script>
    {% endif %}
</form>

<script src="../assets/layui.all.js"></script>
<script>
		function shut(){
		  var index = parent.layer.getFrameIndex(window.name);
              parent.layer.close(index);
		}


</script>
</body>
</html>
