<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mnonn</title>
    <link rel="icon" href="https://www.mnonn.com/static/favicon.ico">
</head>
<style>
    a{
        font-size:24px;
        color:#9098a0;
        font-family:cursive;
    }

    p{
        text-align:center;
        margin-bottom:200px;
        color:#9098a0;
        font-family:cursive;
    }

    div{
        margin-top:200px;
    }

    .tc{
        margin-left:800px;
        font-size:24px;
        color:#9098a0;
        text-decoration:none;
    }

    .bz{
        color:#9098a0;
        font-family:cursive;
    }
</style>
<body style="background-color:#1b1c1d;">
    <p><a class="tc bz" href="/login">退出登录</a></p>
    <div>
        <p><a href="upload">上传文件</a></p>
        <p><a href="https://www.mnonn.com/download">进入云盘</a></p>
        <p><a href="delete">删除文件</a></p>
    </div>

</body>
</html>
