[source]
source_path = C:\Users\Example\Documents\WXWork\1688851747668550\Cache\File\2019-04\

[test]
ip = 1.1.1.1
port = 22
user = pyops
passwd = pyops
home = /home/pyops/
backup_path = /home/pyops/backup/
project_path = /home/pyops/server/
mysql_passwd = pyopsmysql